/*ESPACIO ALVARO */ 
.img-logo{
  width: 60px;
  height: 60px;
}

.trabajosrecientes{
  text-align:center;
  background-color: rgba(0,0,0,0.65);
  color: white;
}

.carousel-caption{
  background-color: rgba(0,0,0,0.75)
  
}

.carousel-caption h5 {
  font-size: 3vw;
}

.carousel-caption p {
  font-size: 3vw;
}

@media (min-width: 576px) { // Small devices (landscape phones, 576px and up)
  .carousel-caption h5 { font-size: 1.3em;}
  .carousel-caption p {font-size: 1.1em;}  
}
@media (min-width: 768px) {// Medium devices (tablets, 768px and up)
  .carousel-caption h5 { font-size: 1.4em;}
  .carousel-caption p {font-size: 1.2em;}  
}
@media (min-width: 992px) { // Large devices (desktops, 992px and up)
  .carousel-caption h5 { font-size: 1.5em;}
  .carousel-caption p {font-size: 1.3em;}  
}
@media (min-width: 1200px) { // Extra large devices (large desktops, 1200px and up)
  .carousel-caption h5 { font-size: 1.6em;}
  .carousel-caption p {font-size: 1.4em;}  
}








/*ESPACIO MARTIN*/

.bodyC{
  background-image: url(../img/fondo.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  
}
.formC{
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, .4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 50px;
  border-radius: 7px;
}
.h2C{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.pC{
  color: #fff;
  font-size: 20px;
}
.inputC,.textareaC{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  max-width: 100%
}
.textarea{
  min-height: 200px;
  max-height: 200px;
  max-width: 100%;
}
@media(max-width:480px){
  .formC{
    width: 100%;
  }
}






/*ESPACIO JOSEFA*/

.carj{
    width: 35%;
    height: auto;
    margin: 8%;
}


 